@tailwind base;
@tailwind components;

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @apply w-screen;
  overflow-x: hidden;
}

@responsive {
  .embed__input_lg {
    @apply bg-white;
    @apply text-base;
    @apply tracking-wider;
    @apply leading-none;
    @apply text-black;
    @apply placeholder-gray-400;
    @apply border-none;
    @apply px-5 py-8;
    @apply w-full;
    @apply my-4;
    @apply outline-none;
    @apply focus:outline-none;
  }

  .embed__textarea_lg {
    @apply bg-white;
    @apply text-base;
    @apply tracking-wider;
    @apply leading-none;
    @apply text-black;
    @apply placeholder-gray-400;
    @apply border-none;
    @apply px-5 py-8;
    @apply w-full;
    @apply my-4;
    @apply outline-none;
    @apply focus:outline-none;
    @apply resize-y;
  }
}

.embed__input_mob {
  @apply bg-transparent;
  @apply text-base;
  @apply leading-none;
  @apply tracking-wider;
  @apply text-white;
  @apply placeholder-white placeholder-opacity-80;
  @apply border-b-2;
  @apply px-2 py-2;
  @apply w-full;
  @apply my-4;
  @apply outline-none;
  @apply focus:outline-none;
}
.embed__textarea_mob {
  @apply bg-transparent;
  @apply text-base;
  @apply tracking-wider;
  @apply leading-none;
  @apply text-white;
  @apply placeholder-white placeholder-opacity-80;
  @apply border-b-2;
  @apply px-2 py-2;
  @apply w-full;
  @apply my-4;
  @apply outline-none;
  @apply focus:outline-none;
  @apply resize-y;
}

@responsive {
  .embed__cta_button_md {
    @apply bg-white;
    @apply border-chocolate-600;
    @apply border-4;
    @apply px-16 py-6;
    @apply text-2xl;
    @apply transition duration-500 ease-in-out hover:bg-chocolate-600 hover:text-white focus:bg-chocolate-600 focus:text-white;
  }
}

.embed__cta_button {
  @apply bg-white;
  @apply border-chocolate-600;
  @apply border-4;
  @apply px-10 py-4;
  @apply text-xl;
  @apply transition duration-500 ease-in-out hover:bg-chocolate-600 hover:text-white focus:bg-chocolate-600 focus:text-white;
}
.container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  /* margin-bottom: 12px; */
  width: max-content;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid white;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgba(255, 255, 255, 0.3);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid #fa620e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container_2xl {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 60px;
  padding-top: 6px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  width: max-content;
  font-size: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark_2xl {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 4px solid white;
}

.container_2xl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.container_2xl:hover input ~ .checkmark_2xl {
  background-color: rgba(255, 255, 255, 0.3);
}

/* When the checkbox is checked, add a blue background */
.container_2xl input:checked ~ .checkmark_2xl {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_2xl:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_2xl input:checked ~ .checkmark_2xl:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_2xl .checkmark_2xl:after {
  left: 13px;
  top: 4px;
  width: 16px;
  height: 28px;
  border: solid #fa620e;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

.overlay {
  background-image: url("/assets/Pattern.svg");
  background-position: 0% 0%;
  background-size: 100%;
}

@responsive {
  .overlay_full {
    background-image: url("/assets/Pattern_Full.svg");
    background-position: 0% 0%;
    background-size: 100%;
  }
}

.fontface-regular {
  font-family: "Gordita Regular", sans-serif;
}

.fontface-medium {
  font-family: "Gordita Medium", sans-serif;
}

.fontface-light {
  font-family: "Gordita Light", sans-serif;
}

.fontface-bold {
  font-family: "Gordita Bold", sans-serif;
}

@responsive {
  .story_container_md::before {
    content: "";
    @apply absolute;
    @apply bg-chocolate-600;
    width: 15px;
    height: 15px;
    left: 0;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
  }
  .story_container_md::after {
    content: "";
    background-color: #e5e5e5;
    position: absolute;
    bottom: -30px;
    top: 50px;
    left: 6px;
    width: 2px;
  }

  .story_content_md::before {
    content: "";
    position: absolute;
    bottom: 20px;
    top: 90px;
    left: 65px;
    /* width: 2px; */
    border: 1px solid #e5e5e5;
    border-style: dashed;
  }

  .story_container_lg::before {
    content: "";
    @apply absolute;
    @apply bg-chocolate-600;
    width: 20px;
    height: 20px;
    left: 0;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
  }
  .story_container_lg::after {
    content: "";
    background-color: #e5e5e5;
    position: absolute;
    bottom: -90px;
    top: 60px;
    left: 8px;
    width: 2px;
  }

  .story_content_lg::before {
    content: "";
    position: absolute;
    bottom: 20px;
    top: 115px;
    left: 100px;
    /* width: 2px; */
    border: 1px solid #e5e5e5;
    border-style: dashed;
  }

  .story_container_xl::before {
    content: "";
    @apply absolute;
    @apply bg-chocolate-600;
    width: 25px;
    height: 25px;
    left: 0;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
  }
  .story_container_xl::after {
    content: "";
    background-color: #e5e5e5;
    position: absolute;
    bottom: -90px;
    top: 70px;
    left: 9px;
    width: 2px;
  }

  .story_content_xl::before {
    content: "";
    position: absolute;
    bottom: 20px;
    top: 115px;
    left: 125px;
    /* width: 2px; */
    border: 1px solid #e5e5e5;
    border-style: dashed;
  }
}

.story_container::before {
  content: "";
  @apply absolute;
  @apply bg-chocolate-600;
  width: 10px;
  height: 10px;
  left: 0;
  top: 22px;
  border-radius: 50%;
  z-index: 1;
}

.story_container::after {
  content: "";
  background-color: #e5e5e5;
  position: absolute;
  bottom: -30px;
  top: 45px;
  left: 4px;
  width: 2px;
}

.story_content::before {
  content: "";
  position: absolute;
  bottom: 20px;
  top: 85px;
  left: 40px;
  /* width: 2px; */
  border: 1px solid #e5e5e5;
  border-style: dashed;
}

@font-face {
  font-family: "Gordita Regular";
  font-style: unset;
  font-weight: normal;
  src: local("Gordita Regular"),
    url("/fonts/gordita/Gordita Regular.woff") format("woff");
}

@font-face {
  font-family: "Gordita Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular Italic"),
    url("/fonts/gordita/Gordita Regular Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Thin"),
    url("/fonts/gordita/Gordita Thin.woff") format("woff");
}

@font-face {
  font-family: "Gordita Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Thin Italic"),
    url("/fonts/gordita/Gordita Thin Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Light"),
    url("/fonts/gordita/Gordita Light.woff") format("woff");
}

@font-face {
  font-family: "Gordita Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Light Italic"),
    url("/fonts/gordita/Gordita Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium"),
    url("/fonts/gordita/Gordita Medium.woff") format("woff");
}

@font-face {
  font-family: "Gordita Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium Italic"),
    url("/fonts/gordita/Gordita Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold"),
    url("/fonts/gordita/Gordita Bold.woff") format("woff");
}

@font-face {
  font-family: "Gordita Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold Italic"),
    url("/fonts/gordita/Gordita Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Black"),
    url("/fonts/gordita/Gordita Black.woff") format("woff");
}

@font-face {
  font-family: "Gordita Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Black Italic"),
    url("/fonts/gordita/Gordita Black Italic.woff") format("woff");
}

@font-face {
  font-family: "Gordita Ultra";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Ultra"),
    url("/fonts/gordita/Gordita Ultra.woff") format("woff");
}

@font-face {
  font-family: "Gordita Ultra Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Ultra Italic"),
    url("/fonts/gordita/Gordita Ultra Italic.woff") format("woff");
}

@tailwind utilities;
